.filterItem{
    display: block;      
    width: 350px;
    padding: 20px; 
    margin-bottom: 20px;
    margin-left: 30px;
}

.filterItemCild {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}